
body {
  font-family: 'Roboto', 'Helvetica Neue', 'HelveticaNeue', sans-serif;
  font-weight: 400;

  background-color: #FCFCFC;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 0;
}

/* ---------------------------------- */


.container {
  max-width: 800px;
}

.header {
  margin-bottom: 6rem;
}


/* ---------------------------------- */

.navbar {
  display: block;
  width:100%;
  height:4.5rem;
  background: #FCFCFC;
  z-index: 99;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style:none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 4.2rem;
  color: #999999;
}

.navbar-link.active {
  color: #242424;
}

.docked .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

/* ---------------------------------- */

h5 {
    overflow: hidden;
    text-align: center;
}

h5:before,
h5:after {
    background-color: #999;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h5:before {
    right: 0.8em;
    margin-left: -50%;
}

h5:after {
    left: 0.8em;
    margin-right: -50%;
}

/* ---------------------------------- */

/*.work-list {
  margin-bottom: 5em;
}

.work-item {
  margin-bottom: 3em;
}

div.work-header {
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  margin-bottom: 1.4em;
}

.blurb {
  margin-top: 1.2em;
}

.things {
  margin-bottom: 5em;
}
.thing {
  margin-bottom: 3em;
}
div.resume-section {
  margin-bottom: 0;
}
.title {
  font-weight: 700;
}

.waffle {
  margin-top: 1.2em;
}*/

/* ---------------------------------- */

.images-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  padding: 10px;
}

.fold {
  display: none;
}
