
body {
  font-family: 'Roboto', 'Helvetica Neue', 'HelveticaNeue', sans-serif;
  font-weight: 400;

  background-color: #FCFCFC;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 300;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 0;
}

.images-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}

.image {
  padding: 10px;
}

.container {
  max-width: 842px;
}

.navbar {

}

.fold {
  display: none;
}
