html {
  background-color: #f2f2f2;
  color: #444;
}

/*body {
  lost-utility: edit;
}*/

h1 { color: #333; }
h2 { color: #444; }

hr {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #AAA;
  background-color: #999;
}

.wrapper {
}

.container {
  lost-center: 800px;
}

/*
a {
  transition: color .1s;
  color: #717171;
}

a:link,
a:visited { color: #ececec; }
a:hover   { color: #484848; }
a:active  {
  transition: color .1s;
  color: #636363;
}

.link { text-decoration: none; }
*/
