html {
  background-color: #fff;
  color: #444;
}

/*body {
  lost-utility: edit;
}*/

h1 { color: #333; }
h2 { color: #444; }

hr {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #AAA;
  background-color: #999;
}

p {
  margin-bottom: 1.6rem;
}

.wrapper {
}

.container {
  lost-center: 800px;
}


.block {
  /*border-top: 1px solid #AAA;*/
  /*background-color: #f6f6f6;
  padding: 1rem;*/
  /*box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.55);*/
  border-top: 1px solid #AAA;
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
}



a {
  color: #7d7d7d;
}

a:link,
a:visited {
  color: #727296;
}
a:hover {
  color: #484848;
}
a:active {
  color: #0000FF;
}

.popup:nth-child(n+2) {
  margin-left: 0.6rem;
}



/*
a {
  transition: color .1s;
  color: #717171;
}

a:link,
a:visited { color: #ececec; }
a:hover   { color: #484848; }
a:active  {
  transition: color .1s;
  color: #636363;
}

.link { text-decoration: none; }
*/
