@lost gutter 60px;
/*@lost flexbox flex;*/

body {
  /*lost-utility: edit;*/
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, #react-mount, .wrapper {
  background-color: #fff;
  color: #666;
  margin: 0;
  height: 100%;
}

.wrapper {
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.container {
  lost-center: 800px;
}

main {
  margin-bottom: 6rem;
  margin-top: 6rem;
  flex: 1;
}

.block {
  border-top: 1px solid #AAA;
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
}

h1 { color: #666; }
h2 { color: #666; }

hr {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  border-width: 0;
  border-top: 1px solid #AAA;
  background-color: #999;
}

p, li {
  margin-bottom: 1.6rem;
}

ul {
  list-style-type: circle;
  list-style-position: outside;
  padding-left: 2rem;
}

li {
  padding-left: 1rem;
}

a {
  color: #4e7dc5;
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  color: #2774fe;
}

[data-info="screenies"] {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
}

.popup:nth-of-type(n+2) {
  margin-left: 2rem;
}
