.work-nav {
  font-family: 'MiniStrzalki';
  font-size: 3rem;
  text-decoration: none;
}

.clear {
  lost-utility: clearfix;
}

.work-nav-left {
  lost-column: 1/2;
  text-align: left;
}

.work-nav-right {
  lost-column: 1/2;
  text-align: right;
}
