.row {
  lost-utility: clearfix;
}

.left {
  lost-column: 3/5;
}

.right {
  lost-column: 2/5;
}

.block {
  /*border-top: 1px solid #AAA;*/
  background-color: #e3e3e3;
  padding: 1rem;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.55);
  margin-bottom: 1rem;
}

.item:nth-of-type(n+2) {
  margin-top: 1rem;
  /*background-color: #f00;*/
}
