@custom-media --small (width < 800px );
@custom-media --not-small (width >= 800px);

.row {
  lost-utility: clearfix;
}

@media (--small) {
  .employment,
  .skills {
    width: 100%;
  }
}

@media (--not-small) {

  .employment {
    lost-column: 3/5;
  }

  .skills {
    lost-column: 2/5;
  }
}

.item:nth-of-type(n+2) {
  margin-top: 1rem;
  /*background-color: #f00;*/
}
