.clear {
  lost-utility: clearfix;
}

.work-nav {
  position: relative;
}

.work-nav a {
  width: 3rem;
  text-align: center;
}

.work-nav-prev {
  position: absolute;
  top: -0px;
  left: -3rem;
}

.work-nav-next {
  position: absolute;
  top: -0px;
  right: -3rem;
}

.work {
  height: 100%;
}

.work-waffle {
  lost-waffle: 1/3;
}


.debug-header {
  position: fixed;
  left: 5px;
  bottom: 5px;
  border: 1px solid #999;
  padding: 1em;
}
