@custom-media --small (width < 800px );
@custom-media --not-small (width >= 800px);

.sticky-top {
  border-bottom: 1px solid #ddd;
  position:fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.site-nav {
  background-color: #fff;
  font-family: "Lato";
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  width: 100%;

  @media (--small) {
    padding: 0 0.7rem;
    font-size: 0.6rem;
  }

  @media (--not-small) {
    padding: 0 0.7rem;
    font-size: 0.7rem;
  }

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (--small) {
      margin: .2rem auto;
    }

    @media (--not-small) {
      margin: .5rem auto;
    }
  }

  & a {
    transition: color .1s;
    color: #666;
    text-decoration: none;
  }
}

.menu {
  display: flex;

  & .menu-item {
    margin-right: 1rem;
  }
}

.social {
  margin-left: auto;

  & .social-button {
    margin-left: 8px;
  }
}
