.site-nav {
  background-color: #fff;
  font-family: "Lato";
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.sticky-top {
  border-bottom: 1px solid #ddd;
  position:fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.site-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.menu {
  display: flex;
}

.menu-item {
  margin-right: 1rem;
}

.social {
  margin-left: auto;
}

.social-button {
  margin-left: 8px;
}

.site-nav a {
  transition: color .1s;
  color: #666;
  text-decoration: none;
}

.site-nav a:link,
.site-nav a:visited { color: #888; }
.site-nav a:hover   { color: #d88; }
.site-nav a:active  {
  transition: color .1s;
  color: #dd8;
}
