@custom-media --small (width < 800px );
@custom-media --not-small (width >= 800px);

.portfolio-item {
  border-top: 1px solid #ddd;
  margin: 3rem 0;
  padding: 3rem 0;
  lost-utility: clearfix;
  /*lost-utility: edit;*/
}

.heading {
  lost-utility: clearfix;
}

@media (--small) {
  .info {
    width: 100%;
    margin-bottom: 3rem;
  }

  .media {
    lost-center: 50%;

    & > img {
      width: 100%;
      height: auto;
    }
  }
}

@media (--not-small) {
  .info {
    lost-column: 8/12;
  }

  .media {
    lost-column: 4/12;

    & > img {
      width: 100%;
      height: auto;
    }
  }
}
