.skill {
  lost-utility: clearfix;
}

.skillset {
  margin-bottom: 1rem;
}

.skillset h3 {
  margin-bottom: 1rem;
}

.skill-name {
  lost-column: 4/13;
}

.skill-years {
  lost-column: 2/13;
  text-align: right;
}

.skill-score {
  lost-column: 7/13;
  margin: 0.35rem 0;
  /*background-color: #AAA;*/
  border: 1px solid #aaa;
  padding: 1px;
}

.score-value {
  height: 0.5rem;
  background-color: #888;
}
